@model List<DIGITAL.Models.Empleado>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre Completo</th>
            <th>Correo</th>
            <th>Telefono</th>
            <th>Cargo</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>@item.NombreCompleto</td>
                <td>@item.Correo</td>
                <td>@item.Telefono</td>
                <td>@item.oCargo.Descripcion</td>
                <td>
                    <a class="btn btn-primary btn-sm " asp-action="Empleado_Detalle" asp-controller="Home" asp-route-idEmpleado="@item.IdEmpleado"> Editar</a>
                    <a class="btn btn-danger btn-sm " asp-action="Eliminar" asp-controller="Home" asp-route-idEmpleado="@item.IdEmpleado"> Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

